In [11]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.metrics import accuracy_score

In [12]:
dataset=load_iris()
x=dataset.data
y=dataset.target
print(x.shape)
print(y.shape)

(150, 4)
(150,)

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=1)

AdaBoost

In [14]:
from sklearn.ensemble import AdaBoostClassifier
model=AdaBoostClassifier(n_estimators=50)
model.get_params

In [15]:
model.fit(xtrain,ytrain)

AdaBoostClassifier()

In [16]:
ypred=model.predict(xtest)

In [17]:
print(accuracy_score(ytest,ypred))

0.9555555555555556

Gradient Boosting

In [18]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import accuracy_score,classification_report
from sklearn.ensemble import GradientBoostingClassifier

In [20]:
train_data=pd.read_csv("train.csv")
test_data=pd.read_csv("test.csv")

In [21]:
train_data.shape

(891, 12)

In [22]:
test_data.shape

(418, 11)

In [23]:
ytrain=train_data["Survived"]
train_data.drop("Survived",axis=1,inplace=True)

In [24]:
from sklearn.preprocessing import LabelEncoder

In [25]:
train_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
886,887,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [26]:
test_data

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [27]:
lb=LabelEncoder()
lb.fit(train_data["Sex"])
train_data["Sex"]=lb.transform(train_data["Sex"])
train_data.fillna(value=0.0,inplace=True)

test_data["Sex"]=lb.transform(test_data["Sex"])
test_data.fillna(value=0.0,inplace=True)

In [28]:
drop_column=['Name',"Age",'SibSp','Parch',"Ticket","Cabin","Embarked"]
train_data.drop(labels=drop_column,axis=1,inplace=True)
test_data.drop(labels=drop_column,axis=1,inplace=True)

In [29]:
train_data

     PassengerId  Pclass  Sex     Fare
0              1       3    1   7.2500
1              2       1    0  71.2833
2              3       3    0   7.9250
3              4       1    0  53.1000
4              5       3    1   8.0500
..           ...     ...  ...      ...
886          887       2    1  13.0000
887          888       1    0  30.0000
888          889       3    0  23.4500
889          890       1    1  30.0000
890          891       3    1   7.7500

[891 rows x 4 columns]

In [30]:
xtrain=train_data
xtest=test_data
print(xtrain.shape)
print(ytrain.shape)

(891, 4)
(891,)

In [31]:
scaler=MinMaxScaler()
xtrain=scaler.fit_transform(xtrain)
xtest=scaler.fit_transform(xtest)

In [32]:
xtrain,xval,ytrain,yval=train_test_split(xtrain,ytrain,test_size=0.3,random_state=2)

In [33]:
lr_list=[0.05,0.075,0.1,0.25,0.5,0.75,1]
for learning_rate in lr_list:
  gb_clf=GradientBoostingClassifier(n_estimators=20,learning_rate=learning_rate,
max_features=2,max_depth=2,random_state=0)
  gb_clf.fit(xtrain,ytrain)
  print(f"Learning Rate:{learning_rate:.3f}\tAccuracy Score(Training):{gb_clf.score(xtrain,ytrain):.3f}\tAccuracy Score(Testing):{gb_clf.score(xval,yval):.3f}")

Learning Rate:0.050	Accuracy Score(Training):0.801	Accuracy Score(Testing):0.754
Learning Rate:0.075	Accuracy Score(Training):0.819	Accuracy Score(Testing):0.772
Learning Rate:0.100	Accuracy Score(Training):0.799	Accuracy Score(Testing):0.757
Learning Rate:0.250	Accuracy Score(Training):0.835	Accuracy Score(Testing):0.795
Learning Rate:0.500	Accuracy Score(Training):0.844	Accuracy Score(Testing):0.799
Learning Rate:0.750	Accuracy Score(Training):0.867	Accuracy Score(Testing):0.810
Learning Rate:1.000	Accuracy Score(Training):0.876	Accuracy Score(Testing):0.784

In [34]:
gb_clf2=GradientBoostingClassifier(n_estimators=20,learning_rate=0.750,
max_features=2,max_depth=2,random_state=0)

In [35]:
gb_clf2.fit(xtrain,ytrain)

GradientBoostingClassifier(learning_rate=0.75, max_depth=2, max_features=2,
                           n_estimators=20, random_state=0)

In [36]:
prediction=gb_clf2.predict(xval)

In [37]:
from sklearn.metrics import confusion_matrix,classification_report
print(classification_report(yval,prediction))
confusion_matrix(yval,prediction)

              precision    recall  f1-score   support

           0       0.80      0.91      0.85       160
           1       0.84      0.66      0.74       108

    accuracy                           0.81       268
   macro avg       0.82      0.78      0.79       268
weighted avg       0.81      0.81      0.80       268

array([[146,  14],
       [ 37,  71]], dtype=int64)